In [2]:
import pandas as pd
data = pd.read_csv(
    'data/train.csv', 
    parse_dates=['Dates']
)
data.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [3]:
data.shape

(878049, 9)

In [5]:
from sklearn import model_selection

In [17]:
test = pd.read_csv('data/test.csv', index_col='Id')
test.shape

(884262, 6)

In [18]:
test.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y
Id,,,,,,
0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [35]:
train, test_data = model_selection.train_test_split(data)

In [36]:
train.shape

(658536, 9)

In [37]:
test_data.shape

(219513, 9)

In [40]:
test_data = test_data.reset_index(drop=True)
test_data.index.rename('Id', inplace=True)
test_data.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
Id,,,,,,,,,
0,2015-03-02 14:05:00,NON-CRIMINAL,"CIVIL SIDEWALKS, CITATION",Monday,MISSION,NONE,200 Block of CHURCH ST,-122.428814,37.766808
1,2004-01-23 20:00:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Friday,BAYVIEW,NONE,0 Block of CONKLING ST,-122.401829,37.735606
2,2014-01-12 00:01:00,LARCENY/THEFT,GRAND THEFT FROM PERSON,Sunday,TENDERLOIN,NONE,300 Block of OFARRELL ST,-122.410509,37.786043
3,2005-08-28 00:05:00,NON-CRIMINAL,FOUND PROPERTY,Sunday,SOUTHERN,UNFOUNDED,100 Block of 3RD ST,-122.400916,37.785457
4,2007-11-03 10:00:00,ASSAULT,BATTERY,Saturday,CENTRAL,NONE,500 Block of UNION ST,-122.408600,37.800460

In [46]:
test_result = test_data[['Category']]
test_result.to_csv('data/hackathon_test_result.csv')

In [47]:
test = test_data['Dates DayOfWeek PdDistrict Address X Y'.split()]
test.index.rename('Id', inplace=True)
test.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y
Id,,,,,,
0,2015-03-02 14:05:00,Monday,MISSION,200 Block of CHURCH ST,-122.428814,37.766808
1,2004-01-23 20:00:00,Friday,BAYVIEW,0 Block of CONKLING ST,-122.401829,37.735606
2,2014-01-12 00:01:00,Sunday,TENDERLOIN,300 Block of OFARRELL ST,-122.410509,37.786043
3,2005-08-28 00:05:00,Sunday,SOUTHERN,100 Block of 3RD ST,-122.400916,37.785457
4,2007-11-03 10:00:00,Saturday,CENTRAL,500 Block of UNION ST,-122.408600,37.800460

In [48]:
test.to_csv('data/hackathon_test.csv')

In [49]:
train.to_csv('data/hackathon_train.csv', index=False)

In [25]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
589123,2007-01-10 12:30:00,LARCENY/THEFT,PETTY THEFT FROM A BUILDING,Wednesday,NORTHERN,NONE,1800 Block of CHESTNUT ST,-122.433807,37.801183
756570,2004-08-17 23:55:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,NORTHERN,NONE,0 Block of OCTAVIA ST,-122.423771,37.771872
456214,2008-12-08 20:51:00,TRESPASS,TRESPASSING,Monday,CENTRAL,"ARREST, BOOKED",300 Block of COLUMBUS AV,-122.406843,37.798059
839133,2003-07-09 22:10:00,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Wednesday,SOUTHERN,NONE,MARKET ST / NEW MONTGOMERY ST,-122.402070,37.788720
234008,2012-03-23 12:31:00,DRUG/NARCOTIC,TRANSPORTATION OF MARIJUANA,Friday,INGLESIDE,NONE,1800 Block of FELTON ST,-122.422865,37.725316

In [50]:
train.Dates.min()

Timestamp('2003-01-06 00:01:00')

In [51]:
train.Dates.max()

Timestamp('2015-05-13 23:53:00')

In [52]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(train.Category)

LabelEncoder()

In [53]:
enc.classes_

array(['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY',
       'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE',
       'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION',
       'FAMILY OFFENSES', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING',
       'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING',
       'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES',
       'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE',
       'ROBBERY', 'RUNAWAY', 'SECONDARY CODES', 'SEX OFFENSES FORCIBLE',
       'SEX OFFENSES NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE',
       'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT',
       'WARRANTS', 'WEAPON LAWS'], dtype=object)